<a href="https://colab.research.google.com/github/mesmalif/Predictive-Modelling-and-Data-Mining/blob/master/W2_DataCleaning/Data_Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preparation  </center>

Learning Objectives 


* Filtering columns and rows

* Data manipulation

## 1- Importing Data

### Reading files
#### 1- From files [(To learn more, click here)](https://www.py4e.com/lessons/files)
#### 2- From database [(To learn more, click here)](https://www.py4e.com/lessons/json)
#### 3- From Internet [(To learn more, click here).](https://www.py4e.com/lessons/servces) For more datasets [(Click here)](https://archive.ics.uci.edu/ml/index.php)

Reading CSV files:

In [1]:
import pandas as pd
import numpy as np


df = pd.read_csv('https://raw.githubusercontent.com/mesmalif/Predictive-Modelling-and-Data-Mining/master/data/adult.data')

In [2]:
df.head()

   39          State-gov   77516   Bachelors  ...   0  40   United-States   <=50K
0  50   Self-emp-not-inc   83311   Bachelors  ...   0  13   United-States   <=50K
1  38            Private  215646     HS-grad  ...   0  40   United-States   <=50K
2  53            Private  234721        11th  ...   0  40   United-States   <=50K
3  28            Private  338409   Bachelors  ...   0  40            Cuba   <=50K
4  37            Private  284582     Masters  ...   0  40   United-States   <=50K

[5 rows x 15 columns]

**Add header to the dataframe**

- 1- Specify column names with a list of strings **(names=YourLIST)**. 

- 2- Specify that there is no header in the original link by: **header=None**.

In [3]:

headnames=['age', 'workclass', 'fnlwg', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 
           'race', 'sex','capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income' ]


df_adult = pd.read_csv('https://raw.githubusercontent.com/mesmalif/Predictive-Modelling-and-Data-Mining/master/data/adult.data', header=None, names=headnames)


df_adult.head()

   age          workclass   fnlwg  ... hours-per-week  native-country  income
0   39          State-gov   77516  ...             40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2   38            Private  215646  ...             40   United-States   <=50K
3   53            Private  234721  ...             40   United-States   <=50K
4   28            Private  338409  ...             40            Cuba   <=50K

[5 rows x 15 columns]

### Basic statistics of data

In [4]:
df_adult.shape

(32561, 15)

In [5]:
df_adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwg           32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
df_adult.describe()

                age         fnlwg  ...  capital-loss  hours-per-week
count  32561.000000  3.256100e+04  ...  32561.000000    32561.000000
mean      38.581647  1.897784e+05  ...     87.303830       40.437456
std       13.640433  1.055500e+05  ...    402.960219       12.347429
min       17.000000  1.228500e+04  ...      0.000000        1.000000
25%       28.000000  1.178270e+05  ...      0.000000       40.000000
50%       37.000000  1.783560e+05  ...      0.000000       40.000000
75%       48.000000  2.370510e+05  ...      0.000000       45.000000
max       90.000000  1.484705e+06  ...   4356.000000       99.000000

[8 rows x 6 columns]

## 2- Filtering columns and rows

### Selecting columns and rows

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/mesmalif/Predictive-Modelling-and-Data-Mining/master/data/Police.csv', index_col='Date')
df.head()

                 county_name driver_gender  ...  stop_duration  drugs_related_stop
Date                                        ...
1/2/2005 1:55            NaN             M  ...       0-15 Min               False
1/18/2005 8:15           NaN             M  ...       0-15 Min               False
1/23/2005 23:15          NaN             M  ...       0-15 Min               False
2/20/2005 17:15          NaN             M  ...      16-30 Min               False
3/14/2005 10:00          NaN             F  ...       0-15 Min               False

[5 rows x 13 columns]

In [8]:
df.index

Index(['1/2/2005 1:55', '1/18/2005 8:15', '1/23/2005 23:15', '2/20/2005 17:15',
       '3/14/2005 10:00', '3/23/2005 9:45', '4/1/2005 17:30', '6/6/2005 13:20',
       '7/13/2005 10:15', '7/13/2005 15:45',
       ...
       '12/31/2015 16:38', '12/31/2015 19:44', '12/31/2015 19:55',
       '12/31/2015 20:20', '12/31/2015 20:25', '12/31/2015 20:27',
       '12/31/2015 20:35', '12/31/2015 20:45', '12/31/2015 21:42',
       '12/31/2015 22:46'],
      dtype='object', name='Date', length=91741)

*  Select rows with index of `1/2/2005 1:55` and `2/20/2005 17:15` and columns with index of county_name, violation_raw.

In [9]:
df.loc[['1/2/2005 1:55' , '2/20/2005 17:15'], ['county_name', 'violation_raw']]

                 county_name     violation_raw
Date
1/2/2005 1:55            NaN          Speeding
2/20/2005 17:15          NaN  Call for Service

* Select 1st, 3rd, and 8th row with 2nd, and 5th column.

In [10]:
df.iloc[[1,3,8] , [2, 5]]

                 driver_age_raw     violation_raw
Date
1/18/2005 8:15           1965.0          Speeding
2/20/2005 17:15          1986.0  Call for Service
7/13/2005 10:15          1970.0          Speeding

### Filtering rows (per columns' constraints)

**General format:** df[ (condition1) * (condition2) ...]

* Filter dataframe for the drivers that are younger than 35 (driver_age < 35)

In [11]:
df[(df['driver_age']<=35)&(df['driver_gender']=="F")]

                  county_name driver_gender  ...  stop_duration  drugs_related_stop
Date                                         ...
3/14/2005 10:00           NaN             F  ...       0-15 Min               False
6/6/2005 13:20            NaN             F  ...       0-15 Min               False
7/18/2005 19:30           NaN             F  ...       0-15 Min               False
7/28/2005 12:37           NaN             F  ...       0-15 Min               False
9/21/2005 13:30           NaN             F  ...       0-15 Min               False
...                       ...           ...  ...            ...                 ...
12/31/2015 13:50          NaN             F  ...       0-15 Min               False
12/31/2015 14:21          NaN             F  ...       0-15 Min               False
12/31/2015 15:36          NaN             F  ...       0-15 Min               False
12/31/2015 16:38          NaN             F  ...       0-15 Min               False
12/31/2015 20:35          NaN             F  ...       0-15 Min               False

[15427 rows x 13 columns]

### Drop rows and columns

**Drop columns 'driver_gender' and 'search_conducted'**

In [12]:

df_new = df.drop(['driver_gender' , 'search_conducted'], axis=1)
df_new

                  county_name  driver_age_raw  ...  stop_duration drugs_related_stop
Date                                           ...
1/2/2005 1:55             NaN          1985.0  ...       0-15 Min              False
1/18/2005 8:15            NaN          1965.0  ...       0-15 Min              False
1/23/2005 23:15           NaN          1972.0  ...       0-15 Min              False
2/20/2005 17:15           NaN          1986.0  ...      16-30 Min              False
3/14/2005 10:00           NaN          1984.0  ...       0-15 Min              False
...                       ...             ...  ...            ...                ...
12/31/2015 20:27          NaN          1986.0  ...       0-15 Min              False
12/31/2015 20:35          NaN          1982.0  ...       0-15 Min              False
12/31/2015 20:45          NaN          1992.0  ...       0-15 Min              False
12/31/2015 21:42          NaN          1993.0  ...       0-15 Min              False
12/31/2015 22:46          NaN          1959.0  ...       0-15 Min              False

[91741 rows x 11 columns]

In [13]:
df.head()

                 county_name driver_gender  ...  stop_duration  drugs_related_stop
Date                                        ...
1/2/2005 1:55            NaN             M  ...       0-15 Min               False
1/18/2005 8:15           NaN             M  ...       0-15 Min               False
1/23/2005 23:15          NaN             M  ...       0-15 Min               False
2/20/2005 17:15          NaN             M  ...      16-30 Min               False
3/14/2005 10:00          NaN             F  ...       0-15 Min               False

[5 rows x 13 columns]

* Drop `'1/2/2005 1:55'` and `'1/18/2005 8:15'` row.

In [14]:
df.drop(['1/2/2005 1:55' , '1/18/2005 8:15'], axis=0)

                  county_name driver_gender  ...  stop_duration  drugs_related_stop
Date                                         ...
1/23/2005 23:15           NaN             M  ...       0-15 Min               False
2/20/2005 17:15           NaN             M  ...      16-30 Min               False
3/14/2005 10:00           NaN             F  ...       0-15 Min               False
3/23/2005 9:45            NaN             M  ...       0-15 Min               False
4/1/2005 17:30            NaN             M  ...       0-15 Min               False
...                       ...           ...  ...            ...                 ...
12/31/2015 20:27          NaN             M  ...       0-15 Min               False
12/31/2015 20:35          NaN             F  ...       0-15 Min               False
12/31/2015 20:45          NaN             M  ...       0-15 Min               False
12/31/2015 21:42          NaN             M  ...       0-15 Min               False
12/31/2015 22:46          NaN             M  ...       0-15 Min               False

[91739 rows x 13 columns]

In [15]:
df['driver_gender'].value_counts()

M    62895
F    23511
Name: driver_gender, dtype: int64

In [16]:
# Groupby()

In [17]:
df.groupby('driver_gender')['driver_race'].value_counts()

driver_gender  driver_race
F              White          18521
               Black           2580
               Hispanic        1871
               Asian            513
               Other             26
M              White          43635
               Black           9664
               Hispanic        7636
               Asian           1746
               Other            214
Name: driver_race, dtype: int64

## 3- Data Manipulation

### Format change 
[[Read more about pandas dtypes here.]](https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html#basics-dtypes)

Changing type of data with [astype()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.astype.html) method.

In [18]:
df.head()

                 county_name driver_gender  ...  stop_duration  drugs_related_stop
Date                                        ...
1/2/2005 1:55            NaN             M  ...       0-15 Min               False
1/18/2005 8:15           NaN             M  ...       0-15 Min               False
1/23/2005 23:15          NaN             M  ...       0-15 Min               False
2/20/2005 17:15          NaN             M  ...      16-30 Min               False
3/14/2005 10:00          NaN             F  ...       0-15 Min               False

[5 rows x 13 columns]

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 91741 entries, 1/2/2005 1:55 to 12/31/2015 22:46
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   county_name         0 non-null      float64
 1   driver_gender       86406 non-null  object
 2   driver_age_raw      86414 non-null  float64
 3   driver_age          86120 non-null  float64
 4   driver_race         86408 non-null  object
 5   violation_raw       86408 non-null  object
 6   violation           86408 non-null  object
 7   search_conducted    91741 non-null  bool
 8   search_type         3196 non-null   object
 9   stop_outcome        86408 non-null  object
 10  is_arrested         86408 non-null  object
 11  stop_duration       86408 non-null  object
 12  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(3), object(8)
memory usage: 11.1+ MB

In [20]:
# convert driver_age to string

df['driver_age'].astype('str')

Date
1/2/2005 1:55       20.0
1/18/2005 8:15      40.0
1/23/2005 23:15     33.0
2/20/2005 17:15     19.0
3/14/2005 10:00     21.0
                    ...
12/31/2015 20:27    29.0
12/31/2015 20:35    33.0
12/31/2015 20:45    23.0
12/31/2015 21:42    22.0
12/31/2015 22:46    56.0
Name: driver_age, Length: 91741, dtype: object

**Dealing with Time in pandas**

In [21]:
df.index

Index(['1/2/2005 1:55', '1/18/2005 8:15', '1/23/2005 23:15', '2/20/2005 17:15',
       '3/14/2005 10:00', '3/23/2005 9:45', '4/1/2005 17:30', '6/6/2005 13:20',
       '7/13/2005 10:15', '7/13/2005 15:45',
       ...
       '12/31/2015 16:38', '12/31/2015 19:44', '12/31/2015 19:55',
       '12/31/2015 20:20', '12/31/2015 20:25', '12/31/2015 20:27',
       '12/31/2015 20:35', '12/31/2015 20:45', '12/31/2015 21:42',
       '12/31/2015 22:46'],
      dtype='object', name='Date', length=91741)

In [22]:
df.index = pd.to_datetime(df.index)
df.index

DatetimeIndex(['2005-01-02 01:55:00', '2005-01-18 08:15:00',
               '2005-01-23 23:15:00', '2005-02-20 17:15:00',
               '2005-03-14 10:00:00', '2005-03-23 09:45:00',
               '2005-04-01 17:30:00', '2005-06-06 13:20:00',
               '2005-07-13 10:15:00', '2005-07-13 15:45:00',
               ...
               '2015-12-31 16:38:00', '2015-12-31 19:44:00',
               '2015-12-31 19:55:00', '2015-12-31 20:20:00',
               '2015-12-31 20:25:00', '2015-12-31 20:27:00',
               '2015-12-31 20:35:00', '2015-12-31 20:45:00',
               '2015-12-31 21:42:00', '2015-12-31 22:46:00'],
              dtype='datetime64[ns]', name='Date', length=91741, freq=None)

In [23]:
df.index.day

Int64Index([ 2, 18, 23, 20, 14, 23,  1,  6, 13, 13,
            ...
            31, 31, 31, 31, 31, 31, 31, 31, 31, 31],
           dtype='int64', name='Date', length=91741)

* How many violances have been recorded each year?

In [24]:
df.index.year.value_counts()

2012    10970
2006    10639
2007     9476
2014     9228
2008     8752
2015     8599
2011     8126
2013     7924
2009     7908
2010     7561
2005     2558
Name: Date, dtype: int64

### Fill NA



*   **mean** (Continuous values, commonly used in statistics)
*   **median** (Continuous values, better in skewed and polluted data)
*   **mode** (Categorical values)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 91741 entries, 2005-01-02 01:55:00 to 2015-12-31 22:46:00
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   county_name         0 non-null      float64
 1   driver_gender       86406 non-null  object
 2   driver_age_raw      86414 non-null  float64
 3   driver_age          86120 non-null  float64
 4   driver_race         86408 non-null  object
 5   violation_raw       86408 non-null  object
 6   violation           86408 non-null  object
 7   search_conducted    91741 non-null  bool
 8   search_type         3196 non-null   object
 9   stop_outcome        86408 non-null  object
 10  is_arrested         86408 non-null  object
 11  stop_duration       86408 non-null  object
 12  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(3), object(8)
memory usage: 8.6+ MB

In [26]:
dg_mode = df['driver_gender'].mode()[0]

df['driver_gender']  = df['driver_gender'].fillna(dg_mode)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 91741 entries, 2005-01-02 01:55:00 to 2015-12-31 22:46:00
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   county_name         0 non-null      float64
 1   driver_gender       91741 non-null  object
 2   driver_age_raw      86414 non-null  float64
 3   driver_age          86120 non-null  float64
 4   driver_race         86408 non-null  object
 5   violation_raw       86408 non-null  object
 6   violation           86408 non-null  object
 7   search_conducted    91741 non-null  bool
 8   search_type         3196 non-null   object
 9   stop_outcome        86408 non-null  object
 10  is_arrested         86408 non-null  object
 11  stop_duration       86408 non-null  object
 12  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(3), object(8)
memory usage: 8.6+ MB

### Outlier Removal

[Anomaly detection with python](https://www.youtube.com/watch?v=RwmttGrJs08&list=PLaVmW8OFDuvD5-OJDmx3y_ju-h4bAQiUn)